services:
  # PHP 8.3 Service
  php:
    image: php:8.3-fpm
    container_name: php83jl
    depends_on:
      - mysql
    build:
      context: ./php8.3
      dockerfile: Dockerfile
    volumes:
      - ./src:/var/www/html
    networks:
      - app-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped


  # MariaDB Service
  mysql:
    image: mariadb:12.1.2
    container_name: mariadbjl
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mysql
      MYSQL_USER: mysql
      MYSQL_PASSWORD: mysql
    volumes:
      - "./mysql/mysql.cnf:/etc/mysql/conf.d/custom.cnf:ro"
      - "./mysql/dbdata:/var/lib/mysql"
    networks:
      - app-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped

  # Nginx Service
  nginx:
    image: nginx:latest
    container_name: nginxjl
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./src:/var/www/html
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - php
    networks:
      - app-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    restart: unless-stopped

  # ----------------------
  # Loki (Logs Backend)
  # ----------------------
  loki:
    image: grafana/loki:3.0.0
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yml
    volumes:
      - ./loki:/etc/loki
      - ./loki-data:/loki
      - ./loki-wal:/wal
    networks:
      - app-network
    restart: unless-stopped

  # ----------------------
  # Grafana (UI)
  # ----------------------
  grafana:
    image: grafana/grafana:10.3.0
    container_name: grafana
    depends_on:
      - loki
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - ./grafana-data:/var/lib/grafana
    networks:
      - app-network
    restart: unless-stopped

  # ----------------------
  # Grafana Alloy (Collector)
  # ----------------------
  alloy:
    image: grafana/alloy:v1.8.2
    container_name: alloy
    ports:
      - "13133:13133"   # HTTP para UI/debug opcional de Alloy
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./alloy-config:/etc/alloy
    depends_on:
      - nginx
      - php
      - mysql
    entrypoint: [
      "/bin/sh", "-c",
      "alloy run --server.http.listen-addr=0.0.0.0:13133 /etc/alloy/config.alloy"
    ]
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
  grafana-data:
  loki-data:
  loki-wal: